/*
	CSS RESET
*/

html, body, div, span{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	background:silver;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration:none;
}
#overlay{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:10 !important;
	background-color:#fff;
	display:none;
}
#loader{
	height:32px;
	width:32px;
	position:fixed;
	left:50%;
	top:50%	;
	margin-left:-32px;
	margin-top:-32px;
	z-index:11 !important;
	background:url(../images/loader.gif);
	background-color:#fff;
	display:none;
}
#container{
	position:absolute;
	width:0px;
	height:0px;
	left:50%;
	top:50%;
	z-index:12;
}
#img{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
}
#left{
	position:absolute;
	left:-50px;
	width:50%;
	height:100%;
	padding-right:50px;
	cursor:pointer;
	border-left:2px solid red;
}
#right{
	position:absolute;
	right:-50px;
	width:50%;
	height:100%;
	padding-left:50px;
	border-right:2px solid red;
	cursor:pointer;
}
#top{
	position:absolute;
	top:-40px;
	width:100%;
	height:40px;
	background:blue;
}
#bottom{
	position:absolute;
	bottom:-40px;
	width:100%;
	height:40px;
	background:blue;
}

/*make it with js
@media (max-width: 940px) {
	#left{
		position:absolute;
		right:30px;
		left:auto;
		top:-40px;
		width:30px;
		height:40px;
		background:green;
		padding:0;
	}
	#right{
		position:absolute;
		right:0px;
		top:-40px;
		width:30px;
		height:40px;
		background: red;
		padding:0;
	}
}*/