/*
	CSS RESET
*/

html, body, div, span{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration:none;
}
.chocolat-overlay{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:10;
	background-color:#fff;
	display:none;
}
body.chocolat-open>.chocolat-overlay{
	z-index:15;
}
.chocolat-loader{
	height:32px;
	width:32px;
	position:fixed;
	left:50%;
	top:50%	;
	margin-left:-32px;
	margin-top:-32px;
	z-index:11;
	background:url(../images/loader.gif);
	display:none;
}
body.chocolat-open>.chocolat-loader{
	z-index:16;
}
.chocolat-container{
	position:fixed;
	width:0px;
	height:0px;
	left:50%;
	top:50%;
	z-index:14;
}
body.chocolat-open>.chocolat-container{
	z-index:17;
}
.chocolat-container .chocolat-img{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
}
.chocolat-container .chocolat-left{
	position:absolute;
	left:-50px;
	width:50%;
	height:100%;
	padding-right:50px;
	cursor:pointer;
	background:url(../images/left.png) 4% 50% no-repeat;
}
.chocolat-container .chocolat-right{
	position:absolute;
	right:-50px;
	width:50%;
	height:100%;
	padding-left:50px;
	cursor:pointer;
	background:url(../images/right.png) 96% 50% no-repeat;

}
.chocolat-container .chocolat-top{
	position:absolute;
	top:-40px;
	width:100%;
	line-height:40px;
	height:40px;
	font-size:12px;
}
.chocolat-container .chocolat-close{
	width:40px;
	height:40px;
	cursor:pointer;
	float:left;
	background:url(../images/close.png) 0% center no-repeat;
}

.chocolat-container .chocolat-fullscreen{
	width:40px;
	height:40px;
	cursor:pointer;
	float:right;
	background:url(../images/zoomin.png) 100% center no-repeat;
}
html:-moz-full-screen .chocolat-container .chocolat-fullscreen,
html:-webkit-full-screen .chocolat-container .chocolat-fullscreen,
html:fullscreen .chocolat-container .chocolat-fullscreen{
	display: none;
}
.chocolat-container .chocolat-bottom{
	position:absolute;
	bottom:-40px;
	width:100%;
	line-height:40px;
	height:40px;
	font-size:12px;
}
.chocolat-container .chocolat-pagination{
	float:right;
}