/*
    CSS RESET
*/

html, body, div, span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.chocolat-open{
    overflow: hidden;
}
.chocolat-overlay{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:10;
    background-color:#fff;
    display:none;
    opacity: 0.8;
}
.chocolat-loader{
    height:32px;
    width:32px;
    position:fixed;
    left:50%;
    top:50% ;
    margin-left:-32px;
    margin-top:-32px;
    z-index:11;
    background:url(../images/loader.gif);
    display:none;
}
.chocolat-content{
    position:fixed;
    width:0px;
    height:0px;
    left:50%;
    top:50%;
    z-index:14;
}

.chocolat-content .chocolat-img{
    opacity:0;
    position:absolute;
    width:100%;
    height:100%;
}
.chocolat-content .chocolat-left{
    position:absolute;
    left:-50px;
    width:50%;
    height:100%;
    padding-right:50px;
    cursor:pointer;
    background:url(../images/left.png) 4% 50% no-repeat;
}
.chocolat-content .chocolat-right{
    position:absolute;
    right:-50px;
    width:50%;
    height:100%;
    padding-left:50px;
    cursor:pointer;
    background:url(../images/right.png) 96% 50% no-repeat;
}

.chocolat-content .chocolat-top{
    position:absolute;
    top:-40px;
    width:100%;
    line-height:40px;
    height:40px;
    font-size:12px;
}
.chocolat-content .chocolat-close{
    width:40px;
    height:40px;
    cursor:pointer;
    float:left;
    background:url(../images/close.png) 0% center no-repeat;
}
.chocolat-content .chocolat-bottom{
    position:absolute;
    bottom:-40px;
    width:100%;
    line-height:40px;
    height:40px;
    font-size:12px;
}
.chocolat-content .chocolat-pagination{
    float:right;
    display: inline-block;
}
.chocolat-content .chocolat-description{
    display: inline-block;
}

/* compact view */
.chocolat-cover .chocolat-content .chocolat-left,
.chocolat-cover .chocolat-content .chocolat-right{
    position: fixed;
    height: 100%;
    top: 0;
    padding: 0px;
}
.chocolat-cover .chocolat-content .chocolat-right{
    right:0px;
    background:url(../images/right-compact.png) 100% 50% no-repeat;
}
.chocolat-cover .chocolat-content .chocolat-left{
    left:0;
    background:url(../images/left-compact.png) 0% 50% no-repeat;
}
.chocolat-cover .chocolat-content .chocolat-top{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
.chocolat-cover .chocolat-content .chocolat-close{
    background:url(../images/close-compact.png) 0% center no-repeat;
}
.chocolat-cover .chocolat-content .chocolat-bottom{
    bottom: 0;
    left: 0;
    position: fixed;
    background: rgba(255,255,255,0.75);
    z-index: 1;
}
.chocolat-cover .chocolat-content .chocolat-pagination,
.chocolat-cover .chocolat-content .chocolat-description{
    padding: 0 10px;
}

/* mobile view */
.chocolat-mobile .chocolat-content .chocolat-left{
    left:0;
    padding-right: 10px;
    background:url(../images/left-compact.png) 4% 96% no-repeat;
}
.chocolat-mobile .chocolat-content .chocolat-right{
    right:0px;
    padding-left: 10px;
    background:url(../images/right-compact.png) 96% 96% no-repeat;
}

/* no container mode*/
body.chocolat-open>.chocolat-overlay{
    z-index:15;
}
body.chocolat-open>.chocolat-loader{
    z-index:16;
}
body.chocolat-open>.chocolat-content{
    z-index:17;
}

/* container mode*/
.chocolat-in-container .chocolat-content,
.chocolat-in-container .chocolat-overlay{
    position: absolute;
}
.chocolat-in-container{
    position: relative;
}
