/*
	CSS RESET
*/

html, body, div, span{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	background:silver;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration:none;
}
#chocolat-overlay{
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	z-index:10 !important;
	background-color:#fff;
	display:none;
}
#chocolat-loader{
	height:32px;
	width:32px;
	position:fixed;
	left:50%;
	top:50%	;
	margin-left:-32px;
	margin-top:-32px;
	z-index:11 !important;
	background:url(../images/loader.gif);
	display:none;
}
#chocolat-container{
	position:fixed;
	width:0px;
	height:0px;
	left:50%;
	top:50%;
	z-index:12;
}
#chocolat-container #chocolat-img{
	opacity:0;
	position:absolute;
	width:100%;
	height:100%;
}
#chocolat-container #chocolat-left{
	position:absolute;
	left:-50px;
	width:50%;
	height:100%;
	padding-right:50px;
	cursor:pointer;
	border-left:2px solid red;
}
#chocolat-container #chocolat-right{
	position:absolute;
	right:-50px;
	width:50%;
	height:100%;
	padding-left:50px;
	border-right:2px solid red;
	cursor:pointer;
}
#chocolat-container #chocolat-top{
	position:absolute;
	top:-40px;
	width:100%;
	line-height:40px;
	height:40px;
	font-size:12px;
}
#chocolat-container #chocolat-bottom{
	position:absolute;
	bottom:-40px;
	width:100%;
	line-height:40px;
	height:40px;
	font-size:12px;
}
#chocolat-container #chocolat-close{
	display:none;
}